In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("uber.csv")
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [4]:
num_cols = df.select_dtypes(include=np.number).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

cat_cols = df.select_dtypes(exclude=np.number).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [6]:

cat_cols = df.select_dtypes(include="object").columns
cat_cols

Index(['key'], dtype='object')

In [7]:

low_cardinality_cols = [
    col for col in cat_cols if df[col].nunique() <= 10
]

print("Encoding these columns:", low_cardinality_cols)

df = pd.get_dummies(df, columns=low_cardinality_cols, drop_first=True)

Encoding these columns: []

In [8]:

high_cardinality_cols = [
    col for col in cat_cols if df[col].nunique() > 50
]

print("Dropping columns:", high_cardinality_cols)

df.drop(columns=high_cardinality_cols, inplace=True)

Dropping columns: ['key']

In [9]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.20,
    random_state=42)

In [17]:


X_train = X_train.select_dtypes(include=[np.number])
X_test = X_test.select_dtypes(include=[np.number])

print("Remaining dtypes in X_train:")
print(X_train.dtypes)

Remaining dtypes in X_train:
Unnamed: 0                      int64
fare_amount                   float64
pickup_longitude              float64
pickup_latitude               float64
dropoff_longitude             float64
dropoff_latitude              float64
passenger_count                 int64
pickup_datetime_hour_hour       int32
pickup_datetime_hour_day        int32
pickup_datetime_hour_month      int32
pickup_datetime_day_hour        int32
pickup_datetime_day_day         int32
pickup_datetime_day_month       int32
pickup_datetime_month_hour      int32
pickup_datetime_month_day       int32
dtype: object

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)